extends layout

block content
  h1=  'hi'
  p                                               .
  p name :  #{title.name}
  p rating : #{title.rating}  
  p review  : #{title.review} --  
  p timestamp : #{title.timestamp} 
  p document id is : #{title._id}
